/* app css stylesheet */
body {
  font: 300 1em 'Helvetica Neue'
}

div[ng-view] {
  margin-top: 10px;
}

aside {
  position: absolute;
  margin-left: -50px;
  margin-right: -50px;
  top: 70px;
  left: -65px;
  text-align: left;
}

aside h4 {
  text-align: center;
  text-decoration: underline;
}

ul#scoreBoard {
  list-style-type: none;
}

textarea#text_to_type {
  height: 100px;
}

span.word {
  display: inline-block;
  margin: 0 3px;
}

span.active {
  text-decoration: underline;
  color: green;
  transition: color 500ms ease;
}
span.word-error {
  text-decoration: underline;
  color: red;
  transition: color 500ms ease;
}
