/* app css stylesheet */
body {
  font: 300 1em 'Helvetica Neue'
}

div[ng-view] {
  margin-top: 50px;
}

ul#scoreBoard {
  list-style-type: none;
}

textarea#text_to_type {
  height: 150px;
}

span.word {
  display: inline-block;
  margin: 0 3px;
}

span.active {
  text-decoration: underline;
  color: green;
  transition: color 500ms ease;
}
span.word-error {
  text-decoration: underline;
  color: red;
  transition: color 500ms ease;
}
